@using Agroin4.CustomHtmlHelpers
@model IEnumerable<Agroin4.Models.comment>

@{
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="header bg-light-green">
        <h2 class="col-light-green p-l-10 ">Comments</h2>
    </div>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comment_text)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_email)
                </td>
                <td>
                    <div style="overflow:auto;word-wrap:hyphenate;text-align:justify;max-width:700px">
                        @Html.DisplayWithBreaksFor(modelItem => item.comment_text)
                    </div>
                   
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.id })



                </td>
            </tr>
        }

    </table>
</div>