@model Agroin4.Models.shop

<div>
    <h4>shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.districts.district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.districts.district_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
