@model Agroin4.Models.shop

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<div class="card">
    <div>
        
        <div class="header bg-light-green">
            <h2 class="col-light-green p-l-10 ">Shop Details</h2>
        </div>
        @*<hr />*@
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.shop_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.shop_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.district_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.district_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

        </dl>
    </div>
    @*<div id="map" style="width:400px;height:400px;background:yellow"></div>

    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyADQFhNWCNnK_d6ZWAno-gTaTdNTkS2mTs&callback=myMap"></script>*@

    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>