@model Agroin4.Models.topography


@{
    ViewBag.Title = "search";
}

<h2>search</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2 p-b-20" })
            <div class="col-md-10">
                @Html.DropDownList("topography_id", ViewData["IdTopographyList"] as IEnumerable<SelectListItem>, "Select topography", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2 p-b-20" })
                <div class="col-md-10">
                    @Html.DropDownList("season_id", ViewData["IdseasonList"] as IEnumerable<SelectListItem>, "Select season", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.crops != null)
{
<table>
    @foreach (var item in Model.crops)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.crop_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topography_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.season_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

    </table>
}


