@model Agroin4.Models.article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>article</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(m => m.id, new { id = "hiddenIdField" })


        <dt>
            @Html.DisplayNameFor(model => model.article_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crop_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crop_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expert_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expert_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.article_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article_description)
        </dd>

    </dl>
</div>
@*<div>
        @Html.Partial("/comments1/index",new ViewDataDictionary { { "id",Model.id } })
    </div>*@
@*<div>
    @Html.ActionLink("comment","comment",new {id=Model.id })
</div>*@
<p>
    <div class="input-group">
        <span class="input-group-addon" >Comment here</span>
        <input type="text" id="txtComments" class="form-control" placeholder="text" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-primary" id="createComment">Comment</button>
</p>
<div id="commentsection">
    @Html.Action("Index", "comments1", Model.id);
    </div>
@section Scripts {
<script>
    $("#createComment").on('click', function () {
        var model = { 'id': Id, 'comments': comments };
        var comments = $('#txtComments').val();
        var Id = $('#hiddenIdField').val();


        $.ajax({
            //your params as it is
            url: '/comments1/SaveComments',
            data: { 'id': Id, 'commenty': comments },
              type: 'post'
        }).done(function (response) {
            //window.location = redirectURl //for redirecting to article details page
            //if you are passing id as parameter to the redirected page then you can do something like this.
          // window.location = response.redirectUrl + '/' + response.Id;
            // window.location.href = 'Url.Action("details", "articles", new { id = "id1" })';

           $.ajax({
               url: '/comments1/Index?Id=' + response.Id,
               type:'GET'
           }).done(function(responsecomment) {
               $('#commentsection').html(responsecomment);
           }).fail(function(err) {
               alert("Error Occured : " + err);
           });
        }).fail(function (error) {

        });

        });
</script>
}