@model Agroin4.Models.crop

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>crop</h4>*@
    @*<hr />*@
    <div class="header bg-light-green">
        <h2 class="col-light-green p-l-10 ">Crop Details</h2>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.topographys.topography_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topographys.topography_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.season_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.season_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
