@model IEnumerable<Agroin4.Models.log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.farmer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qa_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crop_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.district_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.production_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.production_area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.season_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.farmer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qa_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crop_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.district_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.production_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.production_area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.season_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
